nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
body{
    font-family: 'Open Sans', sans-serif;
    
}
.text-primery{
color: #ffa500;

}
.btn-pry{
    border-radius: 5px;
    background: #ffa500;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px ;

}
.nav-title{

    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav >ul{
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color:black;
}
,header {
    background-color: #fff8f3;
}
.baner{
    padding: 30px  30px 30px 150px;
    display: flex;
    align-items: center;
}
.baner .profile{
    width: 500px;
}